<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mentions Légales</h1>
        <h2>1. Éditeur du site</h2>
            <p>
                Nom du site web : [Position-ISS-en-direct] <br>
                Responsable de la publication : Laurent Nicolas <br>
                Email : [mon@mailprivé] <br>
                Ce projet a étais réalisé par un étudiant en reconversion à ENI.
            </p>
        <h2>2. Hébergeur</h2>
            <p>
                Nom de l'hébergeur : [Nom de l'hébergeur]
                Adresse de l'hébergeur : [Adresse complète de l'hébergeur]
                Email : [Email de contact de l'hébergeur]
                Numéro de téléphone : [Numéro de téléphone de l'hébergeur]
            </p>
        <h2>3. Propriété intellectuelle</h2>
            <p>
                L'ensemble des contenus présents sur le site MonSiteWeb (textes, images, vidéos, logos, etc.) sont protégés par les lois
                en vigueur sur la propriété intellectuelle. Toute reproduction, représentation, modification, publication, adaptation de
                tout ou partie des éléments du site est interdite, sauf autorisation écrite préalable de l'éditeur.
            </p>
        <h2>4. Responsabilité</h2>
            <p>
                L'éditeur s'efforce de fournir sur le site MonSiteWeb des informations aussi précises que possible. Toutefois, il ne
                pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de
                son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
                L'éditeur s'efforce de fournir sur le site MonSiteWeb des informations aussi précises que possible. Toutefois, il ne
                pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu'elles soient de
                son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
            </p>
        <h2>5. Données personnelles</h2>
            <p>
                    Conformément à la réglementation européenne sur la protection des données (RGPD), les utilisateurs disposent d'un droit
                    d'accès, de rectification, de suppression et d'opposition sur leurs données personnelles. Pour exercer ce droit,
                    veuillez contacter [Nom du responsable de la protection des données (si applicable)] à l'adresse email suivante : [Email
                    de contact pour les questions de données personnelles].
            </p>
        <h2>6. Cookies</h2>
            <p>
                    Le site MonSiteWeb utilise des cookies pour améliorer l'expérience utilisateur. Pour en savoir plus sur la gestion des
                    cookies, veuillez consulter notre Politique de Cookies.
            </p>
        <h2>7. Droit applicable et juridiction compétente</h2>
            <p>
                    Les présentes mentions légales sont régies par le droit français. En cas de litige et à défaut d'accord amiable, le
                    tribunal compétent sera celui du lieu de domicile de l'éditeur.
            </p>
        <h2>8. Contact</h2>
            <p>
                    Pour toute question ou réclamation concernant le site, vous pouvez contacter [Nom de l'éditeur] à l'adresse email
                    suivante : [Email de contact] ou par téléphone au [Numéro de téléphone].
            </p>
</body>
</html>