
body {
    background-image: url('/images/arriere-plan-planetes-astrales-univers.jpg');
    background-size: cover; /* Ajuste l'image pour couvrir toute la surface */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
}


#nav-bar{
    border-radius: 25%;
}